@use "@/styles/abstracts/index.module" as *;

.Landing {
  width: 100%;

  display: flex;

  @include desktopLarge {
    height: calc(100vh - 80px);
  }

  &-Inner {
    margin: 0 auto;
    padding: 2em 2em;

    @include tablet {
      max-width: 960px;
    }

    @include desktopLarge {
      max-width: 1100px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 96px;
      place-items: center;
    }
  }

  &-Wrapper {
    display: flex;
    flex-direction: column;

    &_display {
      display: none;
    }

    @include desktopLarge {
      position: relative;

      &_display {
        display: block;
        flex-shrink: 0;

        &::before {
          content: "";
          position: absolute;
          width: 10%;
          height: 80%;
          background: $primary-color-9;
          bottom: 0%;
          left: -8%;
          border-radius: 4px;
        }
      }
    }
  }

  &-Title {
    font-size: 48px;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 12px;
    color: $grey-1;

    &_block {
      display: block;
    }
  }

  &-Subtitle {
    line-height: 2;
    margin-bottom: 32px;
    color: $grey-5;

    @include desktopLarge {
      font-size: 20px;
    }
  }

  &-Button {
    align-self: flex-start;
  }

  &-RoomImg {
    @include desktopLarge {
      max-width: 440px;
      width: 100%;
      height: auto;
      object-fit: cover;

      position: relative;
      display: block;
      border-radius: 4px;
    }
  }

  &-WorkImg {
    @include desktopLarge {
      max-width: 250px;
      width: 100%;
      height: auto;

      position: absolute;
      bottom: 0;
      left: 0;
      transform: translateX(-50%);
      border-radius: 4px;
    }
  }
}
