@use "@/styles/abstracts/index.module" as *;

.Services {
  @include desktopLarge {
    height: 450px;
    transform: translateY(2rem);
  }

  &-Wrapper {
    margin-bottom: 40px;

    @include tablet {
      display: flex;
      justify-content: space-between;
    }
  }

  &-Title {
    margin-bottom: 32px;
    color: $primary-color-1;

    &_block {
      display: block;
    }
  }

  &-Subtitle {
    line-height: 1.8;
    color: $primary-color-3;

    @include tablet {
      width: 50%;
    }
  }

  &-Grid {
    display: grid;
    gap: 40px;

    @include tablet {
      grid-template-columns: 1fr 1fr;
    }

    @include desktopLarge {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
