$primary-color-1: hsl(22, 28%, 21%);
$primary-color-2: hsl(22, 28%, 29%);
$primary-color-3: hsl(22, 28%, 37%);
$primary-color-4: hsl(22, 28%, 45%);
$primary-color-5: hsl(22, 31%, 52%);
$primary-color-6: hsl(22, 31%, 60%);
$primary-color-7: hsl(22, 31%, 67%);
$primary-color-8: hsl(20, 31%, 74%);
$primary-color-9: hsl(22, 31%, 81%);
$primary-color-10: hsl(22, 31%, 88%);
$grey-1: hsl(209, 61%, 16%);
$grey-2: hsl(211, 39%, 23%);
$grey-3: hsl(209, 34%, 30%);
$grey-4: hsl(209, 28%, 39%);
$grey-5: hsl(210, 22%, 49%);
$grey-6: hsl(209, 23%, 60%);
$grey-7: hsl(211, 27%, 70%);
$grey-8: hsl(210, 31%, 80%);
$grey-9: hsl(212, 33%, 89%);
$grey-10: hsl(210, 36%, 96%);
$light-color: #fff;
$red-dark: hsl(0, 65%, 50%);
$red-light: hsl(0, 41%, 3%);
$green-dark: hsl(125, 67%, 44%);
$green-light: hsl(125, 71%, 66%);
$dark-color: #222222;
