@use "@/styles/abstracts/index.module" as *;

.Contact {
  @include desktopLarge {
    padding: 96px 0;
  }

  &-Title {
  }

  &-Wrapper {
    @include desktopLarge {
      display: flex;
      justify-content: space-between;
      gap: 96px;
    }
  }

  &-Description {
    margin-bottom: 20px;
    color: $grey-5;
    line-height: 2;
  }

  &-Form {
    width: 90vw;
    max-width: 500px;
    display: flex;

    @include tablet {
    }
    @include desktopLarge {
      align-items: center;
    }
  }

  &-Input {
    width: 100%;
    height: 42px;
    padding: 0 2em;
    border: 2px solid $dark-color;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
}
