@use "@/styles/abstracts/index.module" as *;

.Footer {
  margin-top: auto;
  height: 80px;
  background-color: $dark-color;
  display: flex;
  justify-content: center;
  align-items: center;

  &-Copywrite {
    color: $light-color;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.1rem;
  }

  &-Logo {
    color: $primary-color-5;
    padding: 0 5px;
  }

  &-Rights {
    &_block {
      display: block;

      @include tablet {
        display: inline;
      }
    }
  }
}
