@use "@/styles/abstracts/index.module" as *;

.ProductGrid {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: auto;
  align-items: flex-start;

  @include tablet {
    flex-direction: row;
  }

  &-Grid {
    display: grid;
    width: 100%;
    gap: 32px;
    @include tablet {
      grid-template-columns: 1fr 1fr;
    }
    @include desktopLarge {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &-List {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &-NoProducts {
    font-weight: 700;
    grid-column: 1 /-1;
  }

  &-SortingBar {
    grid-column: 1 / -1;
  }
}
