@use "@/styles/abstracts/index.module" as *;

.Header {
  position: relative;
  width: 100%;

  &-Inner {
    margin: 0 auto;
    padding: 0 2em;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-Navbar {
    position: absolute;
    right: 0;
    top: 79px;
    background-color: $light-color;
    width: 0px;
    height: calc(100vh - 79px);
    transition: all 0.3s ease-in;
    overflow: hidden;

    &_active {
      width: 70%;
    }
  }

  &-Logo {
    svg {
      display: block;
    }
  }

  @include tablet {
    &-Inner {
      max-width: 960px;
    }

    &-Menu {
      display: none;
    }

    &-Navbar {
      position: static;
      top: auto;
      right: auto;
      width: auto;
      height: auto;
      background-color: transparent;
      overflow: visible;
      transition: none;
    }
  }

  @include desktopLarge {
    &-Inner {
      max-width: 1100px;
    }
  }
}
