@use "@/styles/abstracts/index.module" as *;

.ServiceArticle {
  background: $primary-color-7;
  text-align: center;
  padding: 40px 32px;
  border-radius: 4px;

  &-Icon {
    width: 4rem;
    height: 4rem;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 1rem;
    border-radius: 50%;
    background: $primary-color-10;
    color: $primary-color-1;

    svg {
      font-size: 2rem;
    }
  }

  &-Title {
    font-size: 20px;
    color: $primary-color-1;
  }

  &-Description {
    color: $primary-color-2;
    line-height: 1.8;
  }
}
